/*
 * Author: Zhu Qichen
 * 
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

* { font-size: 16px; margin: 0; padding: 0; border: 0; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; font-family: "Arial", "sans-serif", "SimHei";}
html { height: 100%; }
body { height: 100%; color: #444444; }
a { outline: none; text-decoration: none; }
a:hover { text-decoration: underline; }

body.initial #wrapper { padding-bottom: 0; height: 100%; min-height: initial; position: initial; }
body.initial #searchBar { border: 0; background: #ffffff; padding: 0; width: 100%; height: 100%; display: table; }
body.initial #searchBarInner { display: table-cell; vertical-align: middle; text-align: center; }
body.initial #resultStat { display: none; }
body.initial #result { display: none; }
body.initial #pageCtrl { display: none; }
body.initial #logo { width: initial; height: initial; display: block; margin-bottom: 16px; }
body.initial #logo .digit { line-height: initial; vertical-align: initial; font-size: 140px;}
body.initial #logo .word { display: inline-block; font-size: 36px; color: #808080; margin-left: 5px; }
body.initial #searchForm { height: 346px; }
body.initial #searchForm input { border-right: 0; font-size: 20px; height: 46px; line-height: 46px; }
body.initial #searchForm button { border-top-left-radius: 0; border-bottom-left-radius: 0;margin-left: 0; font-size: 20px; height: 46px; }
body.initial #bottomBar { display: none; }
body.initial #suggest { left: 0; top: -1px; position: relative; }

#wrapper { padding-bottom: 80px; min-height: 100%; position: relative; }
#searchBar { border-bottom: 1px solid #dddddd; background: #efefef; padding: 8px 0 8px 16px; }
#searchBarInner { font-size: 0; -webkit-text-size-adjust:none; }
#logo { width: 104px; vertical-align: middle; height: 64px; display: inline-block; }
#logo:hover { text-decoration: none; }
#logo .digit { vertical-align: bottom; font-size: 46px; line-height: 64px; font-weight: bold; color: #0f67ff; font-family: "微软雅黑"; }
#logo .word { display: none; }
#searchForm { vertical-align: middle; display: inline-block; }
#searchForm input { font-size: 16px; vertical-align: bottom; height: 36px; line-height: 36px; display: inline-block; border: 1px solid #cccccc; padding-left: 8px; padding-right: 8px; width: 520px; outline: medium; }
#searchForm input:focus { border-color: #0f67ff; }
#searchForm button { cursor: pointer; border-radius: 2px; margin-left: 15px; font-size: 16px; vertical-align: bottom; height: 36px; display: inline-block; width: 120px; color: #ffffff; background: -moz-linear-gradient(top, #0f67ff, #2f5ff7); background: -webkit-linear-gradient(top, #0f67ff, #2f5ff7); background: -khtml-linear-gradient(top, #0f67ff, #2f5ff7); background: -ms-linear-gradient(top, #0f67ff, #2f5ff7); background: -o-linear-gradient(top, #0f67ff, #2f5ff7); background: linear-gradient(top, #0f67ff, #2f5ff7); }
#searchForm button:hover { background: -moz-linear-gradient(top, #2f5ff7, #2f57ef); background: -webkit-linear-gradient(top, #0f67ff, #2f5ff7); background: -khtml-linear-gradient(top, #0f67ff, #2f5ff7); background: -ms-linear-gradient(top, #0f67ff, #2f5ff7); background: -o-linear-gradient(top, #0f67ff, #2f5ff7); background: linear-gradient(top, #0f67ff, #2f5ff7); }
#suggest { opacity: 0.93; display: none; border: 1px solid #cccccc; background: #ffffff; box-shadow: 0px 1px 3px #bbbbbb; left: 120px; top: 57px; position: absolute; width: 520px; max-height: 288px; overflow: hidden; list-style-type: none; text-align: left; }
#suggest li.selected, #suggest li:hover { background: #dddddd; }
#suggest li { cursor: pointer; display: block; padding-left: 8px; line-height: 36px; }

#main { margin-left: 128px; }
#main * { font-size: small; }
#resultStat { margin-top: 16px; }
#hasResultMsg { color: #808080; }
#noResultMsg { font-size: medium; display: none; }
#resultStat.noResult #noResultMsg { display: inline-block; }
#resultStat.noResult #hasResultMsg { display: none; }

#result { line-height: 150%; width: 512px; list-style-type: none; margin-top: 20px; }
#result li { padding-bottom: 30px; }
#result li .title, #result li .url { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
#result li .title { display: block; font-size: 18px; color: #1a00c2; }
#result li .title .keyword { font-size: 18px; color: #ff4a2e; }
#result li .title:visited { color: #750066; }
#result li .url { font-size: 14px; color: #005c0c; }
#result li .url .keyword { font-weight: bold; }
#result li .date, #result li .commentNumber { white-space: nowrap; color: #999999; }
#result li .snippet { text-align: justify; }
#result li .snippet .keyword { color: #ff4a2e; }

#relative { width: 512px; margin-bottom: 30px; }
#relative ul { vertical-align: top; display: inline-block; max-width: 240px; list-style-type: none; }
#relative #relativer { margin-left: 32px; }
#relative li a { display: inline-block; max-width: 240px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-size: 13px; color: #1a00c2; line-height: 32px; }
#relative li a:hover { cursor: pointer; }

#previewer { display: none; border: 1px solid #cccccc; box-shadow: 1px 1px 6px #cccccc; width: 336px; height: 476px; position: fixed; top: 130px; right: 30px; background-size: 336px 476px; }

#pageCtrl { margin-top: 10px; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; -khtml-user-select: none; user-select: none; color: #1a00c2; font-size: 0; -webkit-text-size-adjust:none; }
#pageCtrl.onePage { display: none; }
#pageCtrl a { line-height: 36px; text-align: center; cursor: pointer; display: inline-block; border: 1px solid #e9e9e9; border-radius: 2px; margin-left: 5px; margin-right: 5px; width: 36px; height: 36px; }
#pageCtrl a.currentPage { border: 1px solid #ffffff; cursor: initial; color: initial; }
#pageCtrl a.currentPage:hover { text-decoration: none; }
#prevPage { margin-left: 0!important; margin-right: 15px!important; }
#nextPage { margin-left: 15px!important; margin-right: 0!important; }
#prevPage, #nextPage { border: 0!important; width: auto!important; }
#pageCtrl.isFirst #prevPage, #pageCtrl.isLast #nextPage { cursor: initial; color: #cccccc; }
.hidden { display: none; }

#bottomBar { position: absolute; bottom: 0; left: 0; margin-top: 40px; height: 40px; width: 100%; border-top: 1px solid #dddddd; background: #efefef; padding-left: 128px; }
#bottomBar a { margin-right: 20px; font-size: small; line-height: 39px; color: #777; }